# file
.DS_Store
*.db
*.log
*.idea
*.iml

# Dev build
build/
tmp/

/api/*
!/api/test/

/api/test/*
!/api/test/common.go
!/api/test/main_test.go
!/api/test/util.go

/app/*
!/app/ent/
!/app/entity/
!/app/wireset/
!/app/wire.go

/app/ent/*
!/app/ent/schema/
!/app/ent/template/
!/app/ent/extend/
!/app/ent/generate.go
!/app/ent/internal

/app/ent/extend/*
!/app/ent/extend/.gitkeep

/app/ent/schema/*
!/app/ent/schema/casbinrule.go
!/app/ent/schema/mixin.go
!/app/ent/schema/systemapi.go
!/app/ent/schema/tenant.go
!/app/ent/schema/user.go

/data/*
!/data/.gitkeep

/docs/

/resource/*
!/.template/config_template.toml
!/.template/compose_template.yaml
!/resource/model.conf


